{% extends "alexieui/base.html" %}
{% load humanize %}

{% block content %}

<span style="color: red;">{{ datelabel }}</span> {{ startdate | date:"M Y" }}

<br><br>

All time balance: {{ alltimebal | intcomma }}
<br>
<a href="{% url 'alexieui:adj' acct.id %}">Adjust balance</a>
<br><br>

Number of transactions: {{ numtxns }}
<br>
<div class="accttxns">
    <b>Dr {{ acct.name }}</b>
    <table>
        {% for t in drtxns %}
        <tr>
            <td>{{ t.date | date:"D d M" }}</td>
            <td class="rt">{{ t.amt | intcomma }}</td>
            <td><a href="{% url 'alexieui:acctdetail' t.credit.id %}">{{ t.credit.name }}</a></td>
            <td><a href="/admin/acct/txn/{{ t.id }}/change/">{{ t.desc }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="accttxns">
    <b>Cr {{ acct.name }}</b>
    <table>
        {% for t in crtxns %}
        <tr>
            <td>{{ t.date | date:"D d M" }}</td>
            <td class="rt">{{ t.amt | intcomma }}</td>
            <td><a href="{% url 'alexieui:acctdetail' t.debit.id %}">{{ t.debit.name }}</a></td>
            <td><a href="/admin/acct/txn/{{ t.id }}/change/">{{ t.desc }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
