{% extends "alexieui/base.html" %}
{% load humanize %}

{% block content %}

<span style="color: red;">{{ datelabel }}</span> {{ startdate | date:"M Y" }}
<br>

All time balance: {{ alltimebal | intcomma }}
&bullet;
<a href="{% url 'alexieui:adj' acct.id %}">Adjust balance</a>
<br><br>

Number of transactions: {{ numtxns }}
<br>
<div class="accttxns inl bdr">
    <b><a href="{% url 'alexieui:addfixed' acct.id 0 %}">Dr {{ acct.name }}</a></b> {{ drtotal | intcomma }}
    <br><br>
    
    <table>
        {% for t in drtxns %}
        <tr class="tlist">
            <td class="tlistdate">{{ t.date | date:"D d M" }}</td>
            <td class="rt">{{ t.amt | intcomma }}</td>
            <td><a href="/admin/acct/txn/{{ t.id }}/change/">{{ t.desc }}</a></td>
            <td><a href="{% url 'alexieui:acctdetail' t.credit.id %}">{{ t.credit.name }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="accttxns inl bdr">
    <b><a href="{% url 'alexieui:addfixed' 0 acct.id %}">Cr {{ acct.name }}</a></b> {{ crtotal | intcomma }}
    <br><br>

    <table>
        {% for t in crtxns %}
        <tr class="tlist">
            <td class="tlistdate">{{ t.date | date:"D d M" }}</td>
            <td class="rt">{{ t.amt | intcomma }}</td>
            <td><a href="/admin/acct/txn/{{ t.id }}/change/">{{ t.desc }}</a></td>
            <td><a href="{% url 'alexieui:acctdetail' t.debit.id %}">{{ t.debit.name }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
