{% extends "alexieui/base.html" %}
{% load humanize %}

{% block content %}

<div class="grn">
    {% for headerBalId, headerBal in headerBals.items %}
    <span class="nowr">{{ headerBal.acct.name }} {{ headerBal.bal | intcomma }}</span>
    {% if not forloop.last %}
    &bullet;
    {% endif %}
    {% endfor %}
</div>

{% if presetid != 0 %}
Preset: {{ preset.name }}
<br>
{% endif %}

<form action="{% url 'alexieui:add' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="addform" value="{{ presetid }}">

    <table>
        <tr>
            <td>Desc:</td>
            <td><input type="text" name="desc" autofocus></td>
        </tr>

        <tr>
            <td>Amt:</td>
            <td><input type="text" name="amt"></td>
        </tr>

        {% if presetid == 0 %}
        <tr>
            <td>Debit:</td>

            <td>
                <select name="debit">
                    <option value="-1">dr</option>
                    {% for acct in allAccts %}
                    <option value="{{ acct.id }}">{{ acct.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <td>Credit:</td>
            <td>
                <select name="credit">
                    <option value="-1">cr</option>
                    {% for acct in allAccts %}
                    <option value="{{ acct.id }}">{{ acct.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        
        {% else %}

        {% if preset.isDebit %}

        <tr>
            <td>Debit:</td>
            <td>{{ preset.fixedAcct.name }}
                <input type="hidden" name="debit" value="{{ preset.fixedAcct.id }}">
            </td>
        </tr>

        <tr>
            <td>Credit:</td>
            <td>
                <select name="credit">
                    <option value="-1">cr</option>
                    {% for acct in selectAccts %}
                    <option value="{{ acct.id }}">{{ acct.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        {% else %}

        <tr>
            <td>Debit:</td>
            <td>
                <select name="debit">
                    <option value="-1">dr</option>
                    {% for acct in selectAccts %}
                    <option value="{{ acct.id }}">{{ acct.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <td>Credit:</td>
            <td>{{ preset.fixedAcct.name }}
                <input type="hidden" name="credit" value="{{ preset.fixedAcct.id }}">
            </td>
        </tr>
        {% endif %}

        {% endif %}

        <tr>
            <td>Date:</td>
            <td><input type="text" name="date" value="{% now "Y-m-d" %}"></td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit">
            </td>
        </tr>
    </table>
    
    <hr>
    Showing newest {{ numtxns }} transactions <a href="{% url 'alexieui:addform' presetid %}?numtxns=30">(Show 30)</a>

    <br>
    <br>

    <table>
        {% for txn in latestTxns %}
        <tr>
            <td class="tlistdate">{{ txn.date | date:"D d M" }}</td>
            <td class="rt">{{ txn.amt | intcomma }}</td>
            <td><a href="/admin/acct/txn/{{ txn.id }}/change/">{{ txn.desc }}</a></td>
            <td><a href="{% url 'alexieui:acctdetail' txn.debit.id %}">{{ txn.debit.name }}</a></td>
            <td><a href="{% url 'alexieui:acctdetail' txn.credit.id %}">{{ txn.credit.name }}</a></td>
        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}
