{% extends "alexieui/base.html" %}
{% load humanize %}

{% block content %}

{% include 'alexieui/headerbals.html' %}

Add transaction

<br>
<form action="{% url 'alexieui:add' %}" method="POST" autocomplete="off">
    {% csrf_token %}
    <input type="hidden" name="addform" value="fixed">
    <input type="hidden" name="fixeddebit" value="{{ debitid }}">
    <input type="hidden" name="fixedcredit" value="{{ creditid }}">    

    <table>
        <tr>
            <td>Desc:</td>
            <td><input type="text" name="desc" autofocus></td>
        </tr>

        <tr>
            <td>Amt:</td>
            <td><input type="text" name="amt"></td>
        </tr>

        <tr>
            <td>Debit:</td>

            <td>
                {% if debitid == 0 %}
                <select name="debit">
                    <option value="-1">dr</option>
                    {% for acct in allAccts %}
                    <option value="{{ acct.id }}">{{ acct.name }}</option>
                    {% endfor %}
                </select>
                {% else %}
                <input type="hidden" name="debit" value="{{ debitid }}">{{ debitname }}
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>Credit:</td>
            <td>
                {% if creditid == 0 %}
                <select name="credit">
                    <option value="-1">cr</option>
                    {% for acct in allAccts %}
                    <option value="{{ acct.id }}">{{ acct.name }}</option>
                    {% endfor %}
                </select>
                {% else %}
                <input type="hidden" name="credit" value="{{ creditid }}">{{ creditname }}
                {% endif %}
            </td>
        </tr>
        
        <tr>
            <td>Date:</td>
            <td><input type="text" name="date" value="{% now "Y-m-d" %}"></td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit">
            </td>
        </tr>
    </table>

    <hr>
    Showing newest {{ numtxns }} transactions
    &bullet;
    <a href="{% url 'alexieui:addfixed' debitid creditid %}?numtxns=30">Show 30</a>

    <br>
    <br>

    <table>
        {% for txn in latestTxns %}
        <tr class="tlist">
            <td class="tlistdate">{{ txn.date | date:"D d M" }}</td>
            <td class="rt">{{ txn.amt | intcomma }}</td>
            <td><a href="/admin/acct/txn/{{ txn.id }}/change/">{{ txn.desc }}</a></td>
            <td><a href="{% url 'alexieui:acctdetail' txn.debit.id %}">{{ txn.debit.name }}</a></td>
            <td><a href="{% url 'alexieui:acctdetail' txn.credit.id %}">{{ txn.credit.name }}</a></td>
        </tr>
        {% endfor %}
    </table>
</form>
{% endblock %}
