{% extends "alexieui/base.html" %}
{% load humanize %}

{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="acctid" value="{{ acct.id }}">

    Adjust balance for <b>{{ acct.name }}</b>
    <br><br>
    Current balance: {{ acct.bal | intcomma }}
    <br><br>
    <table>
        <tr>
            <td>New bal</td>
            <td><input type="text" name="newbal" autofocus></td>
        </tr>
        <tr>
            <td>Desc</td>
            <td><input type="text" name="desc"></td>
        </tr>
        <tr>
            <td>Other acct</td>
            <td>
                <select name="otheracct">
                    <option value="-1">other acct</option>
                    {% for acct in allaccts %}
                    <option value="{{ acct.id }}">{{ acct.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>
    <input type="submit">
</form>
{% endblock %}
