{% extends "alexieui/base.html" %}
{% load humanize %}

{% block content %}

<div class="grn">
    {% for headerBalId, headerBal in headerBals.items %}
    <span class="nowr">{{ headerBal.acct.name }} {{ headerBal.bal | intcomma }}</span>
    {% if not forloop.last %}
    &bullet;
    {% endif %}
    {% endfor %}
</div>

<span style="color: red;">{{ datelabel }}</span> {{ startdate | date:"M Y" }}{% if datelabel == "Now" %}, {{ percentelapsed }}% of mo.{% endif %} <a href="{% url 'alexieui:index' %}?startdate={{ startdate | date:"Y-m-d" }}&enddate={{ enddate | date:"Y-m-d" }}">View bals</a>
<br><br>

<table>
    {% for acctid, acct in accts.items %}
    <tr>
        <td class="nowr"><a href="{% url 'alexieui:acctdetail' acct.id %}?startdate={{ startdate | date:"Y-m-d" }}&enddate={{ enddate | date:"Y-m-d" }}">{{ acct.name }}</a></td>
        <td class="rt nowr">{{ acct.bal | intcomma }} /</td>
        <td class="rt nowr">{{ acct.budget | floatformat:"0" | intcomma }} =</td>
        <td class="rt nowr">{{ acct.percent }}%</td>
        <td class="rt nowr">
            {% if "(" in acct.remaining %}
            <span style="color: red;">{{ acct.remaining }}</span>
            {% else %}
            {{ acct.remaining }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="5"><hr></td>
    </tr>
    
    <tr>
        <td><b>Total</b></td>
        <td class="rt nowr">{{ spent_total | intcomma }} /</td>
        <td class="rt nowr">{{ budget_total | floatformat:"0" | intcomma }} =</td>
        <td class="rt nowr">{{ total_percent }}%</td>
        <td class="rt nowr">
            <span style="color: #082;">{{ total_remaining }}</span>
        </td>
    </tr>
    <tr>
        <td class="rt red" colspan="4">Excess</td>
        <td class="rt red">({{ excess_total | intcomma }})</td>
    </tr>
</table>

{% endblock %}
