{% extends "alexieui/base.html" %}

{% block content %}

<pre>
ptlsal       5530

<a href="{% url 'alexieui:budget' %}?startdate=2020-01-01&enddate=2020-01-31">2020-01</a> 4477  853

<a href="{% url 'alexieui:budget' %}?startdate=2020-02-01&enddate=2020-02-29">2020-02</a> 3145 2385

<a href="{% url 'alexieui:budget' %}?startdate=2020-03-01&enddate=2020-03-31">2020-03</a> ---- ----

<a href="{% url 'alexieui:budget' %}?startdate=2020-04-01&enddate=2020-04-30">2020-04</a> ---- ----

<a href="{% url 'alexieui:budget' %}?startdate=2020-05-01&enddate=2020-05-31">2020-05</a> ---- ----

<a href="{% url 'alexieui:budget' %}?startdate=2020-06-01&enddate=2020-06-30">2020-06</a> ---- ----

<a href="{% url 'alexieui:budget' %}?startdate=2020-07-01&enddate=2020-07-31">2020-07</a> ---- ----

<a href="{% url 'alexieui:budget' %}?startdate=2020-08-01&enddate=2020-08-31">2020-08</a> ---- ----

<a href="{% url 'alexieui:budget' %}?startdate=2020-09-01&enddate=2020-09-30">2020-09</a> ---- ----

<a href="{% url 'alexieui:budget' %}?startdate=2020-10-01&enddate=2020-10-31">2020-10</a> ---- ----

<a href="{% url 'alexieui:budget' %}?startdate=2020-11-01&enddate=2020-11-30">2020-11</a> ---- ----

<a href="{% url 'alexieui:budget' %}?startdate=2020-12-01&enddate=2020-12-31">2020-12</a> ---- ----

</pre>

{% endblock %}
