{% extends "alexieui/base.html" %}

{% block content %}

<pre>
        exp    inc-exp

<a href="{% url 'alexieui:index' %}?startdate=2020-01-01&enddate=2020-12-31">2020 (all)</a>

<a href="{% url 'alexieui:index' %}?startdate=2020-01-01&enddate=2020-01-31">2020-01</a>  4477   1796

<a href="{% url 'alexieui:index' %}?startdate=2020-02-01&enddate=2020-02-29">2020-02</a>  3145   6523

<a href="{% url 'alexieui:index' %}?startdate=2020-03-01&enddate=2020-03-31">2020-03</a>  8772  13473

<a href="{% url 'alexieui:index' %}?startdate=2020-04-01&enddate=2020-04-30">2020-04</a>  6284   2799

<a href="{% url 'alexieui:index' %}?startdate=2020-05-01&enddate=2020-05-31">2020-05</a>  5204  15124 

<a href="{% url 'alexieui:index' %}?startdate=2020-06-01&enddate=2020-06-30">2020-06</a>  5608   8029

<a href="{% url 'alexieui:index' %}?startdate=2020-07-01&enddate=2020-07-31">2020-07</a>  5304  16073

<a href="{% url 'alexieui:index' %}?startdate=2020-08-01&enddate=2020-08-31">2020-08</a> 11243   9382

<a href="{% url 'alexieui:index' %}?startdate=2020-09-01&enddate=2020-09-30">2020-09</a>  ----   ----

<a href="{% url 'alexieui:index' %}?startdate=2020-10-01&enddate=2020-10-31">2020-10</a>  ----   ----

<a href="{% url 'alexieui:index' %}?startdate=2020-11-01&enddate=2020-11-30">2020-11</a>  ----   ----

<a href="{% url 'alexieui:index' %}?startdate=2020-12-01&enddate=2020-12-31">2020-12</a>  ----   ----

</pre>

{% endblock %}
