{% extends "alexieui/base.html" %}
{% load humanize %}

{% block content %}

{% for preset in presets %}
<a href="{% url 'alexieui:addform' preset.id %}">{{ preset.name }}</a>
{% if not forloop.last %}
&bullet;
{% endif %}
{% endfor %}
<br>

<div class="grn">
    {% for headerBalId, headerBal in headerBals.items %}
    {{ headerBal.acct.name }} {{ headerBal.bal }}
    {% if not forloop.last %}
    &bullet;
    {% endif %}
    {% endfor %}
</div>


Date range: {{ startdate }} to {{ enddate }}
<br><br>

{% for atid, at in atypes.items %}
<div class="accttype">
    <b>{{ at }}</b><br>

    <table>
        {% for a in at.accts %}
        <tr>
            <td>{{ a.name }}</td>
            <td class="rt">{{ a.bal | intcomma }}</td>
        </tr>
        {% endfor %}

        <tr>
            <td><b>Total:</b></td>
            <td class="rt">{{ at.bal | intcomma }}</td>
        </tr>
    </table>
</div>
{% endfor %}

{% endblock %}
