{% extends "alexieui/base.html" %}
{% load humanize %}

{% block content %}

<div class="grn">
    {% for headerBalId, headerBal in headerBals.items %}
    <span class="nowr">{{ headerBal.acct.name }} {{ headerBal.bal | intcomma }}</span>
    {% if not forloop.last %}
    &bullet;
    {% endif %}
    {% endfor %}
</div>

<span style="color: red;">{{ datelabel }}</span> {{ startdate | date:"M Y" }} &bullet; <a href="{% url 'alexieui:budget' %}?startdate={{ startdate | date:"Y-m-d" }}&enddate={{ enddate | date:"Y-m-d" }}">View budget</a>
<br>

{% for atid, at in atypes.items %}{% if at.accts|length %}<div class="accttype bdr inl">
    <b>{{ at }}</b><br>

    <table>
        {% for a in at.accts %}
        <tr>
            <td><a href="{% url 'alexieui:acctdetail' a.id %}?startdate={{ startdate | date:"Y-m-d" }}&enddate={{ enddate | date:"Y-m-d" }}">{{ a.name }}</a></td>
            <td class="rt">{{ a.bal | intcomma }}</td>
        </tr>
        {% endfor %}

        <tr>
            <td colspan="2"><hr></td>
        </tr>
        
        <tr>
            <td><b>Total:</b></td>
            <td class="rt">{{ at.bal | intcomma }}</td>
        </tr>
    </table>
</div>{% endif %}{% endfor %}

{% endblock %}
