{% extends "alexieui/base.html" %}
{% load humanize %}

{% block content %}

{% include 'alexieui/headerbals.html' %}

<span style="color: red;">{{ datelabel }}</span> {{ startdate | date:"M Y" }} &bull; <a href="{% url 'alexieui:budget' %}?startdate={{ startdate | date:"Y-m-d" }}&enddate={{ enddate | date:"Y-m-d" }}">View budget</a>

<br>

Date range:
<input id="rangestart" type="date" value="{{ startdate | date:"Y-m-d" }}"> to <input id="rangeend" type="date" value="{{ enddate | date:"Y-m-d" }}">
<button onclick="setrange()">Go</button>

<br>

{% for atid, at in atypes.items %}{% if at.accts|length %}<div class="accttype bdr inl">
    <b>{{ at }}</b><br>

    <table>
        {% for a in at.accts %}
        <tr>
            <td><a href="{% url 'alexieui:acctdetail' a.id %}?startdate={{ startdate | date:"Y-m-d" }}&enddate={{ enddate | date:"Y-m-d" }}">{{ a.name }}</a></td>
            <td class="rt">{{ a.bal | intcomma }}</td>
        </tr>
        {% endfor %}

        <tr>
            <td colspan="2"><hr></td>
        </tr>

        <tr>
            <td><b>Total:</b></td>
            <td class="rt">{{ at.bal | intcomma }}</td>
        </tr>
    </table>
</div>{% endif %}{% endfor %}
<script>
function setrange() {
  const rstart = document.getElementById('rangestart').value;
  const rend = document.getElementById('rangeend').value;
  window.location.href = `/?startdate=${rstart}&enddate=${rend}`;
}
</script>
{% endblock %}
